.Toast {
    background-image: url(message.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 1545px;
    left: 962px;
    right: 40px;
    bottom: 104px;
    visibility: hidden;
    
}

.active {
    background-image: url(message.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 1545px;
    left: 962px;
    right: 40px;
    bottom: 104px;
    visibility: hidden;
    animation: rotate 2s forwards;
}

@keyframes rotate {
    from {
        visibility: visible;
    }
    to {
        visibility: hidden;
    }    
}