.myInput {
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 15px 15px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    color: #8A8A8A;
    
}

